{
	"singleQuote": false,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"trailingComma": "none",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/shared(.*)$",
		"^@(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
